{% extends "base.html" %}

{% block heading %}
  <h1>Dashboard</h1>
{% endblock %}

{% block content %}
  <h3>Skripte</h3>
  <div>
    <button class="btn btn-primary execute" title="helloworld.py">Hello World!</button>
  </div>

  <div id="loading" style="display:none;">
    <hr/>
    Loading...
  </div>
  <div id="execution" style="display:none;">
    <hr/>
    <div id="error-wrapper" style="display:none;">
      <h4>Fehler</h4>
      <div id="error"></div>
    </div>

    <div id="output-wrapper" style="display:none;">
      <h4>Ausgabe</h4>
      <div id="output"></div>
    </div>
  </div>

  {# Include JS #}
  <script src="{{ url_for('static', filename='css/exec_scripts.js') }}"></script>
{% endblock %}