{% extends "base.html" %}

{% block heading %}
  <h1>Dashboard</h1>
{% endblock %}

{% block content %}
  <h2>Skripte</h2>
  <p>
    &nbsp;
  </p>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Hello World!</h3>
        </div>
        <div class="panel-body">
          <p>
            Dieses Programm führt ein einfaches HelloWorld Programm aus.
          </p>
          <p class="text-center">
            <button class="btn btn-primary execute" title="helloworld.py"><i class="fa fa-play"></i></button>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Hello World!</h3>
        </div>
        <div class="panel-body">
          <p>
            Dieses Programm führt ein einfaches HelloWorld Programm aus.
          </p>
          <p class="text-center">
            <button class="btn btn-primary execute" title="helloworld.py"><i class="fa fa-play"></i></button>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Hello World!</h3>
        </div>
        <div class="panel-body">
          <p>
            Dieses Programm führt ein einfaches HelloWorld Programm aus.
          </p>
          <p class="text-center">
            <button class="btn btn-primary execute" title="helloworld.py"><i class="fa fa-play"></i></button>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Hello World!</h3>
        </div>
        <div class="panel-body">
          <p>
            Dieses Programm führt ein einfaches HelloWorld Programm aus.
          </p>
          <p class="text-center">
            <button class="btn btn-primary execute" title="helloworld.py"><i class="fa fa-play"></i></button>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div>
  </div>

  <div id="loading" style="display:none;">
    <hr/>
    <h4><i class="fa fa-refresh fa-spin"></i>&nbsp; Skript wird ausgeführt...</h4>
  </div>
  <div id="execution" style="display:none;">
    <hr/>
    <div id="error-wrapper" style="display:none;">
      <h3>Fehler</h3>
      <div id="error"></div>
    </div>

    <div id="output-wrapper" style="display:none;">
      <h3>Ausgabe</h3>
      <div id="output"></div>
    </div>
  </div>

  {# Include JS #}
  <script src="{{ url_for('static', filename='css/exec_scripts.js') }}"></script>
{% endblock %}