{% extends "base.html" %}

{% block heading %}
  <h1>Dashboard</h1>
{% endblock %}

{% block content %}
  <h3>Skripte</h3>
  <div>
    <a href="{{ url_for('execute', script='helloworld') }}" class="btn btn-primary" title="helloworld.py">Hello World!</a>
  </div>

  {% if err or out %}
    <hr/>
    <div class="">
      {% if err %}
        <h4>Fehler</h4>
        <div>
          {{ err|safe }}
        </div>
      {% endif %}

      {% if out %}
        <h4>Ausgabe</h4>
        <div>
          {{ out|safe }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}